  #payment_container {
    background-color: #e6ebf1;
    height:100%;
  }

 #payment_container .StripeElement {
    background-color: white;
    height: 2rem;
    margin: 0px 10px;
    padding: 15px 10px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  #payment_container .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  #payment_container .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  #payment_container .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }