#setting_container .term{
    font-family: 'Roboto', sans-serif;
    width:100%;
    margin-bottom: 10px;
    position:relative;
    clear:left;
    border-bottom: 1px solid #eeeeee;
}
#setting_container .term .label {
    position: relative;
    box-sizing: border-box;
    display:table-cell;
    vertical-align:center;
    padding: 10px;
    padding-left: 50px;
    width:70%;
    height:5rem;
    font-size: auto;
    font-weight: 500;
    float:left;
}

#setting_container .term .content {
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    width:30%;
    height:5rem;
    font-size: auto;
    font-weight: 100;
    float:left;
}

#setting_container .is-checked .mdl-switch__thumb{
    -webkit-appearance:none;
    background:rgba(225, 0, 225, 1);
} 
#setting_container .is-checked .mdl-switch__track{
    -webkit-appearance:none;
    background:rgba(225, 0, 225, 0.5);
} 
#setting_container .mdl-ripple{
    -webkit-appearance:none;
    background:rgba(225, 0, 225, 0.5);
} 
