#detail_container .term{
    width:100%;
    position:relative;
    clear:left;
    border-bottom: 1px solid #eeeeee;
}

#detail_container .term .label {
    position: relative;
    box-sizing: border-box;
    width:25%;
    padding: 0.5rem;
    height:4rem;
    font-size: 1rem;
    font-weight: 500;
    float:left;
}

#detail_container .term .content {
    position: relative;
    box-sizing: border-box;
    width:75%;
    padding: 0.5rem;
    height:4rem;
    font-size: 1rem;
    font-weight: 100;
    float:left;
}

#detail_container .userphoto{
    box-sizing: border-box;
    padding: 0.5rem;
    width:3rem;
    height:3rem;
	border-radius:50%;
    float:left;
    background-size: cover;
    background-position: center;
}

#detail_container .name{
    box-sizing: border-box;
    padding: 0.5rem;
    width:55%;
    font-size: auto;
    font-weight: 200;
    text-align: left;
    float:left;    
}

#detail_container .qrcode-text {
    margin-right:1.7em; 
    margin-right:0
}
#detail_container .qrcode-text-btn {
    display:inline-block;
    background:url("https://gatherlink.site/img/qr_icon.svg") 50% 50% no-repeat;
    height:1em; 
    width:1.7em;
    margin-left:-1.7em; 
    cursor:pointer
}
#detail_container .qrcode-text-btn > input[type=file] {
    position:absolute; 
    overflow:hidden;
    width:1px;
    height:1px;
    opacity:0
}

  #participant_container .participantlist{
    border: 1px solid #ddd;
    margin: 1rem 0;
    box-sizing: border-box;
    width:98%;
    height:0px;
    color: #000000;
    position:relative;
    display:block;
    z-index:1;
  }
  
  #participant_container .participantlist .userphoto{
    box-sizing: border-box;
    margin: 0.7rem;
    width:3rem;
    height:3rem;
	border-radius:50%;
    float:left;
    background-size: cover;
    background-position: center;
  }
  
  #participant_container .participantlist .name{
    box-sizing: border-box;
    margin: 1rem;
    width:50%;
    font-size: auto;
    font-weight: 200;
    text-align: left;
    float:left;    
  }

  #detail_add_cooperator button{
    margin: 0 0 2rem 0;
  }

  #detail_cooperator_container .cooperatorlist{
    box-shadow: 0 1px 5px rgba(0,0,0,0.2); 
    box-sizing: border-box;
    margin: 1rem 0;
    width:100%;
    height:4.5rem;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    position:relative;
    display:block;
    z-index:1;
  }
  #detail_cooperator_container .cooperatorlist .userphoto{
    box-sizing: border-box;
    margin: 0.7rem;
    width:3rem;
    height:3rem;
    border-radius:50%;
    float:left;
    background-size: cover;
    background-position: center;
  }

  #detail_cooperator_container .cooperatorlist .name{
    box-sizing: border-box;
    margin: 0.5rem;
    width:55%;
    font-size: auto;
    font-weight: 200;
    text-align: left;
    float:left;    
  }

  #detail_cooperator_container{
      min-height:50vh;
  }

  #detail_cooperator_container .btn3{
    display: block;
    position:absolute;
    text-decoration: none;
    margin-top:1rem;
    left:80%;
    width:18%;
    height:2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.6rem;
    font-weight: 100;
    text-align: center;
    color: #2bb6c1;
    border:solid 1px #2bb6c1;
    background: #ffffff;
    border-radius: 10px;
    list-style-type: none;
    outline: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}
#detail_cooperator_container .btn3:hover{
    color: #ffffff;
    border:solid 1px #ffffff;
    background: #2bb6c1;

}