/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
html, body {
    position:absolute;
    height: 100vh;
    width:100vw;
    top:0;
    left:0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

#header{
  position:fixed;
  width:100vw;
  height:4rem;
  background:royalblue;
  z-index:1;
  color:white;
  font-size:1.2rem;
  box-sizing:border-box;
  padding:1.2rem 2.5rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0,0,0,0.3);
}

#map_canvas{
    margin: 0;
    padding: 0;
    height:100vh;
    width:100vw;
    overflow: hidden;
    z-index:0;
}

.map-icon{
    position:absolute;
    bottom:4.5rem;
    z-index:1;
    box-sizing:border-box;
    padding:0.6rem;
    width:3.5rem;
    height:3.5rem;
    background:white;
    border-radius:50%;
    filter: drop-shadow(0 0.4rem 0.4rem rgba(0, 0, 0, 0.5));
}


@media screen and (max-aspect-ratio:11/16){
    #current_area_icon{
        left:25%;
    }
    #search_icon{
        left:65%;
    }
}
@media screen and (min-aspect-ratio:11/16) and (max-aspect-ratio:13/16){
    #current_area_icon{
        left:30%;
    }
    #search_icon{
        left:62%;
    }
}
@media screen and (min-aspect-ratio:13/16){
    #current_area_icon{
        left:38%;
    }
    #search_icon{
        left:60%;
    }
}

#menu_icon{
    position: absolute;
    top:2.5rem;
    left:4%;
    font-size:2rem;
    z-index:1;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}

/* Menu Style */
#menu{
    position: absolute;
    overflow-y :scroll;
    overflow-x :hidden;
    height:100vh;
    z-index:2;
    background: #ffffff;
}
@media screen and (max-aspect-ratio:11/16){
    #menu{
        left:-70vw;
        width:70vw;
    }
}
@media screen and (min-aspect-ratio:11/16) and (max-aspect-ratio:13/16){
    #menu{
        left:-35vw;
        width:35vw;
    }
}
@media screen and (min-aspect-ratio:13/16){
    #menu{
        left:-40vh;
        width:40vh;
    }
}
#menu::-webkit-scrollbar{
    display:none;
}

/* Drawer Style */
#drawer{
    position: absolute;
    overflow-y :scroll;
    overflow-x :hidden;
    left:100vw;
    height:100vh;
    z-index:2;
    background: #eeeeee;
}

@media screen and (max-aspect-ratio:11/16){ 
    #drawer{
        width:70vw;
    }
}
@media screen and (min-aspect-ratio:11/16) and (max-aspect-ratio:13/16){
    #drawer{
        width:50vh;
    }
}
@media screen and (min-aspect-ratio:13/16){
    #drawer{
        width:50vh;
    }
}
#drawer::-webkit-scrollbar{
    display:none;
}


@keyframes modal_open{
    0% {
        width:0;
        height:0;
        top:-2vh;
    }
    40% {
        width:80vw;
        height:3px;
        top:-2vh;
    }
    60% {
        width:80vw;
        height:120vw;
        top:-2vh;
    }
    100% {
        width:80vw;
        height:120vw;
        top:0;
        z-index:5;
    }
}
@keyframes modal_close {
    0% {
        width:80vw;
        height:120vw;
    }
    50% {
        width:3px;
        height:120vw;
    }
    100% {
        width:0;
        height:0;
        z-index:1;
    }
}


.gm-style-iw{
    width:5rem;
}

/* Modal Style */
#modal{
    position: absolute;
    overflow-x :hidden;
    /* overflow-y :hidden; */
    overflow-y :scroll;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:auto;
    height:auto;
    width:0px;
    border-radius:0.3rem;
    z-index:3;
    background: #ffffff;
}
#modal::-webkit-scrollbar{
    display:none;
}

/* Overlay Style */
#overlay{
    position:absolute;
	width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,1);
    z-index:0;
    filter:alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
}

/* Text Style */
.index{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    text-align:center;
    box-sizing: border-box;
    padding: 0.8rem 1em;
    font-size: 1rem;
    font-weight: 200;
    color: #ffffff;
    background: royalblue;
    z-index:5;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); 
}


div[contenteditable=true]{
    width: 90%;
    min-height: 4.2em;
    background: transparent;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: 200;
    line-height: 1.4em;
    padding: 5px 8px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3) inset;
    color: #555555;
}

div[contenteditable=true]:focus{
    background: none repeat scroll 0 0 #FFFFFF;
    outline: solid 2px rgba(43, 182, 193, 1.0);
}


/* Button Style */
.btn{
    display: block;
    text-decoration: none;
    min-height:2rem;
    min-width: 5rem;
    width: auto;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    font-weight: 200;
    line-height: 2.5rem;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    color: #ffffff;
    border:solid 1px #ffffff;
    background: darkturquoise;
    list-style-type: none;
    outline: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    /* box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.3);  */
}
.btn:hover{
    background: #ffffff;
    color: darkturquoise;
    border:solid 1px darkturquoise;
    /* box-shadow: none; */
}

/* Current Position Marker */

@-moz-keyframes pulsate { 
    from {
        -webkit-transform: scale(0.8);
        opacity: 1.0;
        background-color:transparent;
    }
    95% {
        -moz-transform: scale(7);
        opacity: 0;
        background-color:#06f;
    }
    to {
        -moz-transform: scale(0.8);
        opacity: 0;
    }
}
@-webkit-keyframes pulsate { 
    from {
        -webkit-transform: scale(0.8);
        opacity: 1.0;
        background-color:transparent;
    }
    95% {
        -webkit-transform: scale(7);
        opacity: 0;
        background-color:#06f;
    }
    to {
        -webkit-transform: scale(0.8);
        opacity: 0;
    }
}
#map_canvas div[title='current_position']{
    -moz-animation: pulsate 2s ease-in-out infinite;
    -webkit-animation: pulsate 2s ease-in-out infinite;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
#map_canvas div[title='current_position'] img { display: none }
/* compensate for iPhone and Android devices with high DPI, add iPad media query */
/* @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) { 
    #map_canvas div.gmnoprint[title='Current Position']{ margin: 10px 0 0 10px }
} */

#map_trim{
    width:100%;
    height:40%;
}

.facility{
    display:flex;
    width:100%;
    height:13vh;
    border-bottom:solid 0.1px lightgray;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

.facility .text{
    width:70%;
    font-size:1rem;
    margin:auto 0;
}
.facility:hover{
    background: darkturquoise;
}

.facility-icon{
    width:5vh;
    height:5vh;
    margin: 4vh 4vh;
}
