#terms_container{
    /* width:500px;
    height:330px; */
    overflow:hidden;
}

#terms_container #terms_content{
    word-break: break-all;
    overflow-wrap : break-word;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:90%;
    height:55%;
    margin-top:15%;
    margin-bottom:30%;
    margin-right:auto;
    margin-left:auto;
    overflow: scroll;
    font-size:small;
}

/* #terms_container #terms_content::-webkit-scrollbar {
    display: none;
  } */

#terms_container  #terms_message{
    word-break: break-all;
    overflow-wrap : break-word;
    position:absolute;
    top:20%;
    left:0;
    right:0;
    width:90%;
    height:auto;
    margin-right:auto;
    margin-left:auto;
    font-size:small;
  }

#terms_container #terms_btn{
    position:absolute;
    top:82%;
    left:0;
    right:0;
    margin-right:auto;
    margin-left:auto;
    display:flex;
    -webkit-justify-content:space-around;
    justify-content:space-around;
  }