
/* Timeline Style */
#user_timeline_container #user_timeline{
    width:100%;
    height:auto;
    margin-top:10px;
    position:relative;
    z-index:1;
}
#user_timeline_container .timeline{
    position:relative;
    box-sizing: border-box;
    margin: 7px auto;
    width:98%;
    height:auto;
    overflow:hidden;
    color: #333333;
    /* border: 1px solid #ddd; */
    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.3); 
    z-index:1;
}

#user_timeline_container .timeline:hover{
    box-shadow: 0 1px 5px 2px rgba(0,0,0,0.35); 
}

#user_timeline_container .timeline .userphoto{
    position:relative;
    margin: 1rem;
    width:3.5rem;
    height:3.5rem;
	border-radius:50%;
    float:left;
    background-size: cover;
    background-position: center;
}

#user_timeline_container .timeline .name{
    position:relative;
    top: 2rem;
    margin-left:4.5rem;
    width:60%;
    font-size: 1.2rem;
    font-weight: 200;
    text-align: left;
}

#user_timeline_container .timeline .datetime{
    position:relative;
    top:-1rem;
    right:3%;
    font-size: 0.8rem;
    font-weight: 100;
    text-align: right;
}


#user_timeline_container .timeline .content{
    position:relative;
    left:5%;
    width:90%;
    margin:1em 0;
    font-size: 1rem;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-style: none;
    line-height: 1.2rem;
    min-height: 2.4rem;
    height:auto;
    overflow:hidden;
    font-weight: 100;
    text-align: left;
}

#user_timeline_container .timeline .likes_container{
    position:relative;
    left:2rem;
    bottom:0.2rem;
    width:50%;
}

#user_timeline_container .likes{
    -webkit-appearance:none;
    box-sizing: border-box;
    padding-right: 3rem;
    float:left;    
}

#user_timeline_container .likes .material-icons{
    color:rgba(255, 0, 100, 0.7);
}

#user_timeline_container .likes_count{
    box-sizing: border-box;
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 200;
    text-align: left;
    color:rgba(255, 0, 100, 0.7);
    float:left;    
}

#user_timeline_container .dislikes{
    -webkit-appearance:none;
    box-sizing: border-box;
    padding-right: 3rem;
}

#user_timeline_container .dislikes .material-icons{
    color:rgba(0, 0, 255, 0.7);
}

#user_timeline_container .dislikes_count{
    box-sizing: border-box;
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 200;
    text-align: left;
    color:rgba(0, 0, 255, 0.7);
    float:left;   
}
  
  #user_timeline_container .images{
    position: relative;
    width:100%;
    height:35vh;
  }

  #user_timeline_container .timelineimage {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display:block;
    width:100%;
    height:35vh;
    clear:left;
  }